<header>
    <div class="container">
        <div class="header d-flex mt-4 justify-content-between bg-primary" >
            <img src="../images/logo3.jpg" style="width: 10%; height: 10%" alt="Livestock">
            <ul class="d-flex tabs ml-4">

                <li><a href="/" class="btn">Home</a> </li>
                <li><a href="/about-us" class="btn"> About Us </a> </li>
                <li><a href="/contact-us" class="btn">Contact</a> </li>

            </ul>
        </div>
    </div>
</header>
<div class="container">
    <div class="d-flex" style="margin-top: 10%;">
        <img style="width: 20%;" src="../images/trackerImplemented.jpg" alt="uMalusi">
        <div style="margin-left: 5%;">
            <h1 class="text-center">About us</h1>
            <p>The world of technology and artificial intelligence is growing
                we have been given the oppurtunity to be apart of paving the way.
                Outliers mission is to improve the olden techniques used to locate livestock.We believe
                that current techniques used to locate and mark livestock
                is both time consuming and labour-intensive.Our main objective is to promote a sustainable environment
                for all livestock by building a tracker that will be able to locate livestock will therefore solve the
                problems that farmers are currently facing.</p>

        </div>
    </div>
</div>