<header>
    <div class="container">
        <div  style="height: ;7%" class="header d-flex mt-4 justify-content-between bg-primary " >
            <img src="../images/logo3.jpg" style="width: 10%; height: 10%" alt="Livestock">
            <ul class="d-flex tabs">
                
                <li><a href="/" class="btn" >Home</a> </li>
                <li><a href="/about-us" class="btn" > About Us </a> </li>
                <li><a href="/contact-us" class="btn" >Contact</a> </li>
               
               
            </ul>
    </div>
    </div>
</header>
<div class="d-flex mt-4">
    <div style="width: 50%; margin:15px">
        <h1>Umalusi tracking and identifying PTY</h1>
        <Address></Address>
        <p>Tell </p>
        <p>Email: Umalusi@yahoo.com</p>
        <p>We welcome you to contact Umalusi Tracking and Identifying if you would like to receive more information, learn more about our consulting services, or find out how we may support by leaving us message. Please contact us using the form provided</p>
    </div>
    <div  style="width: 50%; margin-right:15px" class=" mt-4 bg-light opacity-75" >
       <h1 class="text-center">Contact us</h1>
        <form style="margin-left:15%" action="/leaver-message" method="post">
            <input style="width:80%" type="text" name="name" placeholder="Name" required pattern="^[A-Za-z]+$" title="Please enter letters only"><br><br>
            <input style="width:80%" type="text" name="email" placeholder="Email Address" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="email follow thsi example mpera12@mpe.ac.za or john2@gmail.com"><br><br>
            <input style="width:80%" type="text" name="subject" placeholder="Subject" required><br><br>
            <input style="width:80%" type="text" name="message" placeholder="Message" required><br><br>
            <input type="submit" class="btn bg-black">
        </form>
    </div>
</div>