<header>
    <div class="container">
        <div class="header d-flex mt-4 justify-content-between bg-primary" >
            <img src="../images/logo3.jpg" style="width: 7%;" alt="Livestock" class="opacity-100">
            <ul class="d-flex p-5 tabs">
                
                 <li><a href="/" class="btn" >Home</a> </li>
                <li><a href="/about-us" class="btn" > About Us </a> </li>
                <li><a href="/contact-us" class="btn" >Contact</a> </li>
                              
            </ul>
    </div>
    </div>
</header>