<header class="gt-header-mobile">
    <div class="gt-header-mobile--inner d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="gt-logo"><a href="https://www.meatnaturallyafrica.com/" title="Meat Naturally">
                    <img alt="Meat Naturally"
                        src="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/MeatNaturallyAfrica-logo.png"
                        height="125" width="125"></a></div>
            <div class="gt-icons d-flex align-items-center justify-content-end">
                <div class="gt-icon gt-icon--mmenu"><svg viewBox="0 0 20 14" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <path
                                d="M1,14 C0.44771525,14 0,13.5522847 0,13 C0,12.4477153 0.44771525,12 1,12 L19,12 C19.5522847,12 20,12.4477153 20,13 C20,13.5522847 19.5522847,14 19,14 L1,14 Z M1,2 C0.44771525,2 0,1.55228475 0,1 C0,0.44771525 0.44771525,0 1,0 L19,0 C19.5522847,0 20,0.44771525 20,1 C20,1.55228475 19.5522847,2 19,2 L1,2 Z M1,8 C0.44771525,8 0,7.55228475 0,7 C0,6.44771525 0.44771525,6 1,6 L19,6 C19.5522847,6 20,6.44771525 20,7 C20,7.55228475 19.5522847,8 19,8 L1,8 Z">

                            </path>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="gt-mobile-menu">
    <div class="gt-inner">
        <div class="scroll-pane" style="overflow: hidden; padding: 0px; width: 336px;">
            <div class="jspContainer" style="width: 336px; height: 596px;">
                <div class="jspPane" style="padding: 0px; top: 0px; left: 0px; position: absolute; width: 336px;">
                    <div class="gt-logo"><a href="https://www.meatnaturallyafrica.com/" title="Meat Naturally">
                            <img alt="Meat Naturally"
                                src="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/MeatNaturallyAfrica-logo.png"
                                height="125" width="125">
                        </a>
                    </div>
                    <nav class="gt-mobile-navbar">
                        <ul id="menu-main-menu-1" class="menu">
                            <li
                                class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item menu-item-20 active">
                                <a href="https://www.meatnaturallyafrica.com/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-69">
                                <a href="https://www.meatnaturallyafrica.com/about-us/" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-995">
                                <a href="https://www.meatnaturallyafrica.com/ngo-partnership/" class="nav-link">NGO
                                    Partnership</a>
                            </li>
                            <li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                                <a href="https://www.meatnaturallyafrica.com/services/" class="nav-link">Services</a>
                            </li>
                            <li
                                class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-1099">
                                <a href="https://www.meatnaturallyafrica.com/resource-links/" class="nav-link">Resource
                                    Links</a>
                            </li>
                            <li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-35">
                                <a href="https://www.meatnaturallyafrica.com/contact/" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="gt-header">
    <div class="container">
        <div class="gt-header--inner">
            <div class="gt-header--top d-flex align-items-center">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="gt-logo">
                        <a href="https://www.meatnaturallyafrica.com/" title="Meat Naturally">
                            <img alt="Meat Naturally"
                                src="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/MeatNaturallyAfrica-logo.png"
                                height="125" width="125">
                        </a>
                    </div>
                    <div class="gt-icons d-flex align-items-center justify-content-end">

                    </div>
                </div>
            </div>
            <div class="gt-header--bottom d-flex align-items-center">
                <div class="container d-flex align-items-center justify-content-between">
                    <nav class="gt-navbar d-flex align-items-center justify-content-start">
                        <ul id="menu-main-menu-2" class="menu">
                            <li
                                class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item menu-item-20 active">
                                <a href="https://www.meatnaturallyafrica.com/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-69">
                                <a href="https://www.meatnaturallyafrica.com/about-us/" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-995">
                                <a href="https://www.meatnaturallyafrica.com/ngo-partnership/" class="nav-link">NGO
                                    Partnership</a>
                            </li>
                            <li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                                <a href="https://www.meatnaturallyafrica.com/services/" class="nav-link">Services</a>
                            </li>
                            <li
                                class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-1099">
                                <a href="https://www.meatnaturallyafrica.com/resource-links/" class="nav-link">Resource
                                    Links</a>
                            </li>
                            <li class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-35">
                                <a href="https://www.meatnaturallyafrica.com/contact/" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="gt-main">

    <section class="gt-slider">
        <div class="gt-inner" style="max-width: 942px; min-height: 660px;">
            <div class="swiper-container gt-main-slider gt-swiper-slider swiper-container-horizontal"
                data-gt-speed="600" data-gt-parallax="true" data-gt-direction="horizontal" data-gt-item="1"
                data-gt-item-space="0" data-gt-loop="true">
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-930px, 0px, 0px);">
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active swiper-slide-prev"
                        data-swiper-slide-index="0" style="width: 930px;">
                        <div class="swiper-slide--image" data-swiper-parallax-x="400"
                            style="background-image: url(&quot;https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/HeroImage-1903x950.jpg&quot;); transition-duration: 0ms;">
                        </div>
                        <div class="swiper-slide--caption" data-swiper-parallax-x="300"
                            style="transition-duration: 0ms;">
                            <div class="gt-box">
                                <div class="gt-box--subtitle">WELCOME TO MEAT NATURALLY</div>
                                <div class="gt-box--title">Empowering Sustainable Farming &amp; Rangeland Rejuvenation
                                    in Africa</div><a href="https://www.meatnaturallyafrica.com/pages/about-us/"
                                    title="READ MORE" class="btn gt-btn-style-2" target="_self">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-active swiper-slide-duplicate-next swiper-slide-duplicate-prev"
                        data-swiper-slide-index="0" style="width: 930px;">
                        <div class="swiper-slide--image" data-swiper-parallax-x="400"
                            style="background-image: url(&quot;https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/HeroImage-1903x950.jpg&quot;); transition-duration: 0ms;">
                        </div>
                        <div class="swiper-slide--caption" data-swiper-parallax-x="300"
                            style="transition-duration: 0ms;">
                            <div class="gt-box">
                                <div class="gt-box--subtitle">WELCOME TO MEAT NATURALLY</div>
                                <div class="gt-box--title">Empowering Sustainable Farming &amp; Rangeland Rejuvenation
                                    in Africa</div><a href="https://www.meatnaturallyafrica.com/pages/about-us/"
                                    title="READ MORE" class="btn gt-btn-style-2" target="_self">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active swiper-slide-next"
                        data-swiper-slide-index="0" style="width: 930px;">
                        <div class="swiper-slide--image" data-swiper-parallax-x="400"
                            style="background-image: url(&quot;https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/HeroImage-1903x950.jpg&quot;); transition-duration: 0ms;">
                        </div>
                        <div class="swiper-slide--caption" data-swiper-parallax-x="300"
                            style="transition-duration: 0ms;">
                            <div class="gt-box">
                                <div class="gt-box--subtitle">WELCOME TO MEAT NATURALLY</div>
                                <div class="gt-box--title">Empowering Sustainable Farming &amp; Rangeland Rejuvenation
                                    in Africa</div><a href="https://www.meatnaturallyafrica.com/pages/about-us/"
                                    title="READ MORE" class="btn gt-btn-style-2" target="_self">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gt-slider-controls gt-dark">
                    <div class="gt-slider-button gt-slider-prev" tabindex="0" role="button" aria-label="Previous slide">
                        <span class="text">Prev</span><span class="line"></span>
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                            aria-label="Go to slide 1"></span></div>
                    <div class="gt-slider-button gt-slider-next" tabindex="0" role="button" aria-label="Next slide">
                        <span class="line"></span><span class="text">Next</span>
                    </div>
                </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </section>
    <div class="tm-page-content">
        <div class="container main-container">
            <div class="row main-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left-layout">
                    <div id="post-10" class="post-10 page type-page status-publish hentry">
                        <div class="gt-single-content">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-8">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="vc_empty_space" style="height: 2.5rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                            <div class="gt-section-heading text-center color-style-1">
                                                <div class="gt-box">
                                                    <div class="gt-box--line"></div>
                                                    <div class="gt-box--subtitle">Who is Meat Naturally</div>
                                                    <div class="gt-box--title">Solutions for a Sustainable Africa</div>
                                                    <div class="gt-box--content">
                                                        <p>Meat Naturally is a critical link between Africa's
                                                            small-scale farmers and commercial meat buyers, between NGOs
                                                            and rural economic development, between economic and
                                                            ecological enhancement, and between traditional farming
                                                            methods and new market opportunities. We are providing the
                                                            farming community with the knowledge and tools to break down
                                                            former economic barriers, while motivating them to invest in
                                                            restoring Africa's rangelands and wetlands.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 4.75rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="gt-feature-box style-1 text-center">
                                                <div class="gt-box">
                                                    <div class="gt-box--image"><img width="350" height="221"
                                                            src="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/FarmingEducation.png"
                                                            class="attachment-fangorn-feature-box-1 size-fangorn-feature-box-1"
                                                            alt=""
                                                            srcset="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/FarmingEducation.png 350w, https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/FarmingEducation-300x189.png 300w"
                                                            sizes="(max-width: 350px) 100vw, 350px"></div>
                                                    <div class="gt-box--content">
                                                        <div class="gt-box--subtitle">Training &amp; Tools</div>
                                                        <div class="gt-box--title">Farming Education</div>
                                                        <div class="gt-box--details">
                                                            <p>Meat Naturally provides EcoRanger training for small,
                                                                rural farmers in Southern Africa. Herders learn proven
                                                                techniques for regenerative grazing, cattle management,
                                                                stock theft patrol, and predator control. Through our
                                                                collaboration with local NGOs, farmers now have access
                                                                to bulk purchasing power, vaccinations, tagging services
                                                                and much more. In short, emerging farmers can now
                                                                provide high quality meats and compete with commercial
                                                                farmers.</p>
                                                            <div class="gt-box--number">
                                                                <div class="line"></div>
                                                                <div class="number">01</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 1.875rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="gt-feature-box style-1 text-center">
                                                <div class="gt-box">
                                                    <div class="gt-box--image"><img width="350" height="221"
                                                            src="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/RangelandRestoration.png"
                                                            class="attachment-fangorn-feature-box-1 size-fangorn-feature-box-1"
                                                            alt=""
                                                            srcset="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/RangelandRestoration.png 350w, https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/RangelandRestoration-300x189.png 300w"
                                                            sizes="(max-width: 350px) 100vw, 350px"></div>
                                                    <div class="gt-box--content">
                                                        <div class="gt-box--subtitle">Ecological Empowerment</div>
                                                        <div class="gt-box--title">Rangeland Restoration</div>
                                                        <div class="gt-box--details">
                                                            <p>Through the Meat Naturally Conservation Agreement, we
                                                                have developed a sustainable model where livestock
                                                                farmers are trained and then required to implement
                                                                environmentally-friendly grazing plans and techniques,
                                                                assist in erosion control and clearing of invasive plant
                                                                species, thereby restoring Africa’s rangelands and
                                                                wetlands. Our farmers have become stewards of the
                                                                continent’s environment, as well as, an emerging source
                                                                of rural economic development.</p>
                                                            <div class="gt-box--number">
                                                                <div class="line"></div>
                                                                <div class="number">02</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 1.875rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="gt-feature-box style-1 text-center">
                                                <div class="gt-box">
                                                    <div class="gt-box--image"><img width="350" height="221"
                                                            src="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/CreatingMarketVibrance.png"
                                                            class="attachment-fangorn-feature-box-1 size-fangorn-feature-box-1"
                                                            alt=""
                                                            srcset="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/CreatingMarketVibrance.png 350w, https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/CreatingMarketVibrance-300x189.png 300w"
                                                            sizes="(max-width: 350px) 100vw, 350px"></div>
                                                    <div class="gt-box--content">
                                                        <div class="gt-box--subtitle">Economic Empowerment</div>
                                                        <div class="gt-box--title">Creating Market Vibrance</div>
                                                        <div class="gt-box--details">
                                                            <p>Meat Naturally is creating an economic opportunity and
                                                                sustainable livelihood for emerging farmers, linking
                                                                small-scale independent farmers with commerial buyers of
                                                                meat products. By organizing and managing both mobile
                                                                auctions and abattoirs, farmers now have the power to
                                                                sell meat to markets and buyers formerly unaccessable.
                                                                Buyers can now have confidence in the meat quality as we
                                                                work with farmers to meet production and health
                                                                standards.</p>
                                                            <div class="gt-box--number">
                                                                <div class="line"></div>
                                                                <div class="number">03</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 1.875rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="vc_empty_space" style="height: 5.5rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                            <div class="gt-feature-box style-3 text-left">
                                                <div class="gt-box">
                                                    <div class="row align-items-center ">
                                                        <div class="col-lg-6">
                                                            <div class="gt-box--image"><img width="540" height="451"
                                                                    src="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/ecological-balance.png"
                                                                    class="attachment-fangorn-feature-box-2 size-fangorn-feature-box-2"
                                                                    alt=""
                                                                    srcset="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/ecological-balance.png 540w, https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/ecological-balance-300x251.png 300w"
                                                                    sizes="(max-width: 540px) 100vw, 540px"></div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="gt-box--content">
                                                                <div class="gt-box--title">Economic &amp; Ecological
                                                                    Balance</div>
                                                                <div class="gt-box--details">
                                                                    <p>The natural beauty of our sustainable model is
                                                                        that it creates balance between rural economic
                                                                        development and ecological management and
                                                                        restoration. One is not exclusive of the other.
                                                                        Instead, livelihoods of the farming community
                                                                        are dependent upon a robust environment. And now
                                                                        thanks to Meat Naturally, a healthy environment
                                                                        is looking to farmers who are equally focused on
                                                                        growing market opportunities as they are on
                                                                        growing healthy rangelands.</p>
                                                                    <hr class="short">
                                                                    <p class="text-muted">Visit our Services page and
                                                                        learn more about how we have established the
                                                                        standard for healthy livestock, buyer confidence
                                                                        and rangeland restoration.</p><a
                                                                        href="https://www.meatnaturallyafrica.com/services/"
                                                                        title="Read More" class="btn gt-btn-style-1"
                                                                        target="_parent">Read More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="vc_empty_space" style="height: 5.5rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                            <div class="gt-feature-box style-3 text-left">
                                                <div class="gt-box">
                                                    <div class="row align-items-center flex-row-reverse">
                                                        <div class="col-lg-6">
                                                            <div class="gt-box--image"><img width="540" height="451"
                                                                    src="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/NGO-partnership.png"
                                                                    class="attachment-fangorn-feature-box-2 size-fangorn-feature-box-2"
                                                                    alt=""
                                                                    srcset="https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/NGO-partnership.png 540w, https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/NGO-partnership-300x251.png 300w"
                                                                    sizes="(max-width: 540px) 100vw, 540px"></div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="gt-box--content">
                                                                <div class="gt-box--title">Our NGO Partnership</div>
                                                                <div class="gt-box--details">
                                                                    <p>Meat Naturally collaborates with NGOs to deliver
                                                                        economic and environmental prosperity to local
                                                                        communities and emerging farmers. We partner
                                                                        with organizations, providing technical
                                                                        expertise, tools and resources for sustainable
                                                                        farming and rangeland restoration. Our services
                                                                        include grazing plans and mapping, formal
                                                                        training for livestock farmers, vaccinations,
                                                                        tagging, and community-based market access
                                                                        reaching new buyers for rural farmers.</p>
                                                                    <hr class="short">
                                                                    <p class="text-muted">Visit our NGO Partnership page
                                                                        and learn more about our consulting services and
                                                                        technical assistance.</p><a
                                                                        href="https://www.meatnaturallyafrica.com/ngo-partnership/"
                                                                        title="Read More" class="btn gt-btn-style-1"
                                                                        target="_parent">Read More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 7.375rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-vc-full-width="true" data-vc-full-width-init="true"
                                class="vc_row wpb_row vc_row-fluid vc_custom_1535638157577 vc_row-has-fill"
                                style="position: relative; left: -110.8px; box-sizing: border-box; width: 942px; padding-left: 110.8px; padding-right: 111.2px;">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="vc_empty_space" style="height: 5.313rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                            <div class="gt-section-heading text-center color-style-2">
                                                <div class="gt-box">
                                                    <div class="gt-box--line"></div>
                                                    <div class="gt-box--subtitle">Empowering Communities to be the
                                                        Stewards of their Future</div>
                                                    <div class="gt-box--title">We Provide All NGO Resources Needed</div>
                                                    <div class="gt-box--content">
                                                        <p>Contact us today to learn more about our EcoRanger training,
                                                            grazing planning, vaccinations and more</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 2.75rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                            <div class="text-center"><a
                                                    href="https://www.meatnaturallyafrica.com/ngo-partnership/"
                                                    title="ACT NOW" class="btn gt-btn-style-1" target="_parent">ACT
                                                    NOW</a></div>
                                            <div class="vc_empty_space" style="height: 7.5rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row-full-width vc_clearfix"></div>
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="gt-feature-box style-4 text-left">
                                                <div class="gt-box"
                                                    style="background-image:url(https://www.meatnaturallyafrica.com/wp-content/uploads/2018/08/EducationalMaterials-1110x430.jpg);">
                                                    <div class="row align-items-center ">
                                                        <div class="col-lg-6">
                                                            <div class="gt-box--content">
                                                                <div class="gt-box--title">Educational Materials</div>
                                                                <div class="gt-box--details">
                                                                    <p>Our mission is education-centric - We are a
                                                                        knowledge base for NGOs, farmers, communities
                                                                        and anyone interested in revitalizing Africa’s
                                                                        rangelands. We encourage you to review our
                                                                        educational materials and enlist our technical
                                                                        expertise.</p>
                                                                    <hr class="short">
                                                                    <p class="text-muted">Visit our Resources page where
                                                                        we have a host of materials, fact sheets and
                                                                        “how-to” information.</p><a
                                                                        href="https://www.meatnaturallyafrica.com/resource-links/"
                                                                        title="READ MORE" class="btn gt-btn-style-1"
                                                                        target="_parent">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none">
                    <div id="search-2" class="gt-widget widget_search">
                        <form role="search" method="get" id="searchform" class="searchform"
                            action="https://www.meatnaturallyafrica.com/">
                            <div class="search-form-widget">
                                <input type="text" value="" placeholder="Search" name="s" id="s"
                                    class="searchform-text">
                                <button id="searchsubmit">Search</button>
                            </div>
                        </form>
                    </div>
                    <div id="recent-comments-2" class="gt-widget widget_recent_comments">
                        <div class="gt-widget--heading">
                            <div class="gt-widget--title">Recent Comments</div>
                        </div>
                        <ul id="recentcomments"></ul>
                    </div>
                    <div id="archives-2" class="gt-widget widget_archive">
                        <div class="gt-widget--heading">
                            <div class="gt-widget--title">Archives</div>
                        </div>
                        <ul>
                        </ul>
                    </div>
                    <div id="categories-2" class="gt-widget widget_categories">
                        <div class="gt-widget--heading">
                            <div class="gt-widget--title">Categories</div>
                        </div>
                        <ul>
                            <li class="cat-item-none">No categories</li>
                        </ul>
                    </div>
                    <div id="meta-2" class="gt-widget widget_meta">
                        <div class="gt-widget--heading">
                            <div class="gt-widget--title">Meta</div>
                        </div>
                        <ul>
                            <li><a href="https://www.meatnaturallyafrica.com/wp-login.php">Log in</a></li>
                            <li><a href="https://www.meatnaturallyafrica.com/feed/">Entries <abbr
                                        title="Really Simple Syndication">RSS</abbr></a></li>
                            <li><a href="https://www.meatnaturallyafrica.com/comments/feed/">Comments <abbr
                                        title="Really Simple Syndication">RSS</abbr></a></li>
                            <li><a href="https://wordpress.org/"
                                    title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
                            </li>
                        </ul>
                    </div>
                    <div id="search-3" class="gt-widget widget_search">
                        <div class="gt-widget--heading">
                            <div class="gt-widget--title">Search</div>
                        </div>
                        <form role="search" method="get" id="searchform" class="searchform"
                            action="https://www.meatnaturallyafrica.com/">
                            <div class="search-form-widget">
                                <input type="text" value="" placeholder="Search" name="s" id="s"
                                    class="searchform-text">
                                <button id="searchsubmit">Search</button>
                            </div>
                        </form>
                    </div>
                    <div id="categories-3" class="gt-widget widget_categories">
                        <div class="gt-widget--heading">
                            <div class="gt-widget--title">Categories</div>
                        </div>
                        <ul>
                            <li class="cat-item-none">No categories</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="gt-footer">
        <div class="gt-footer-wrapper">
            <div class="gt-footer--inner">
                <div class="gt-footer--boxes">
                    <div class="container">
                        <div class="row">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <h5 style="text-align: left" class="vc_custom_heading">About Meat Naturally
                                            </h5>
                                            <div class="vc_empty_space" style="height: 1rem"><span
                                                    class="vc_empty_space_inner"></span></div>

                                            <div class="wpb_text_column wpb_content_element  vc_custom_1535649753646">
                                                <div class="wpb_wrapper">
                                                    <p>Meat Naturally brings together livestock farmers, NGOs, meat
                                                        buyers, and stakeholders in the meat value chain. By providing
                                                        education, farming resources, grazing expertise, and market
                                                        opportunities, Africa’s rangelands and wetlands are being
                                                        restored every day.</p>

                                                </div>
                                            </div>
                                            <div class="text-left"><a
                                                    href="https://www.meatnaturallyafrica.com/pages/about-us/"
                                                    title="Read More" class="btn gt-btn-style-1" target="_parent">Read
                                                    More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <h5 style="text-align: left" class="vc_custom_heading">Quick Links</h5>
                                            <div class="vc_empty_space" style="height: 1rem"><span
                                                    class="vc_empty_space_inner"></span></div>
                                            <div class="menu-copyright-menu-container">
                                                <ul id="menu-copyright-menu" class="nav flex">
                                                    <li id="menu-item-960"
                                                        class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item menu-item-960 active">
                                                        <a href="https://www.meatnaturallyafrica.com/"
                                                            class="nav-link">Home</a>
                                                    </li>
                                                    <li id="menu-item-961"
                                                        class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-961">
                                                        <a href="https://www.meatnaturallyafrica.com/services/"
                                                            class="nav-link">Services</a>
                                                    </li>
                                                    <li id="menu-item-962"
                                                        class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-962">
                                                        <a href="https://www.meatnaturallyafrica.com/about-us/"
                                                            class="nav-link">About Us</a>
                                                    </li>
                                                    <li id="menu-item-1149"
                                                        class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-1149">
                                                        <a href="https://www.meatnaturallyafrica.com/resource-links/"
                                                            class="nav-link">Resource Links</a>
                                                    </li>
                                                    <li id="menu-item-994"
                                                        class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-994">
                                                        <a href="https://www.meatnaturallyafrica.com/ngo-partnership/"
                                                            class="nav-link">Assisting NGOs</a>
                                                    </li>
                                                    <li id="menu-item-1150"
                                                        class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-1150">
                                                        <a href="https://www.meatnaturallyafrica.com/contact/"
                                                            class="nav-link">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <h5 style="text-align: left" class="vc_custom_heading">Contact Information
                                            </h5>
                                            <div class="vc_empty_space" style="height: 1rem"><span
                                                    class="vc_empty_space_inner"></span></div>

                                            <div class="wpb_text_column wpb_content_element  vc_custom_1536663452254">
                                                <div class="wpb_wrapper">
                                                    <p><strong>Meat Naturally PTY</strong><br>
                                                        112 Main Street<br>
                                                        Matatiele, Eastern Cape<br>
                                                        South Africa</p>
                                                    <p>P: +27 72 521 5273<br>
                                                        E: info@meatnaturallyafrica.com</p>
                                                    <p><a class="instagram" title="Instagram"
                                                            href="http://www.instagram.com/meatnaturallyafrica"
                                                            target="_blank" rel="noopener"><i class="fab fa-instagram"
                                                                style="color: #767750; font-size: 24px;"></i> Follow us
                                                            on Instagram</a></p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gt-footer--top-wrapper"></div>
                <div class="gt-footer--bottom d-flex align-items-center">
                    <div class="container d-flex align-items-center justify-content-between flex-lg-row flex-column">
                        <div class="gt-copyright"><span>
                                <p style="margin-top:80px;"><span
                                        style="font-size:12px; color:#ffffff; font-weight:bold;">Copyright 2018 Meat
                                        Naturally PTY, All Rights Reserved</span><span
                                        style="font-size:12px; color:#d9dabf;"> | <a href="http://double0marketing.com/"
                                            style="color:#ffffff;" target="_blank">Site by Double-0 Marketing</a></span>
                                </p>
                                <p style="font-size:12px; color:#d9dabf;">Meat Naturally would like to thank the
                                    following for use of their photos for this website: Conservation International;
                                    Jacques van Rooyen; Tessa Mildenhall; Nicky McLeod; Jessica Leas; and Gerbrand Nel
                                </p>
                            </span></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</main>

<div class="gt-overlay">
    <div class="gt-overlay--close"></div>
</div>