body {
    background-image: url(../images/browncow.png);
    background-repeat:no-repeat;
}
/* .header{
    justify-content: space-between;
} */

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    font-stretch: expanded;
    font-style: oblique;
    font: 2em sans-serif;
    justify-content: stretch;
}


